body{
    margin:0;
    padding:0px;
}

body section{
    padding-top:80px;
}

body hr{
    border-color:black
}

.bg-black{
    background-color: black;
}

.logoFont {
    font-family: 'Lobster', cursive;
}

#mDPicture {
    background-image: url(/assets/img/principal.jpg);
    background-position: center;
    background-size: 100%;
    height:315px;
    width:400px;


}
#mDinfo{
    width:340px;
}

#mainDish {
    width:760px;
}



#carousel_first4 img{
    width:24.6%;
   
}

.carousel-indicators li{
background: black;
border-radius: 50%;
width:23px;
}

ul{
    list-style-type: none!important;
    padding:0;
}